<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{config.title}}</title>

    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ config.extra.name }}">

    <link rel="stylesheet" type="text/css" href="jakecurran.css">
  </head>

  <body>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
  </body>

  <footer>
    <hr />
    <p>&copy; 2019 {{ config.extra.name }}.
  </footer>
</html>
